<!DOCTYPE html>
<html>
  <head>
    <title>AuthFromScratch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main>
      <% flash.each do |type, msg| %>
        <div class="flash"><%= msg %></div>
      <% end %>
      <%= link_to "Sign Up", sign_up_path %>
      <%= link_to "Sign In", sign_in_path, id: "user-login" %>
      <%= button_to "Sign Out", sign_out_path, method: :delete, id: "user-sign-out" %>
      <%= yield %>
    </main>
  </body>
</html>
